@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --tile-size : 150px;
}
.gameContainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #c5c5c5,
            inset -20px -20px 60px #fbfbfb;
}
.tile{
    width: var(--tile-size);
    height: var(--tile-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
}
.gridContainer{
    margin-top: 50px;
    padding: 50px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #a1a1a1,
             -20px -20px 60px #ffffff;
}
.winnerContainer{
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 5rem;
    color: #e0e0e0;
}
.winnerContainer #reset{
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    background: #e0e0e0;
}
.winnerContainer #reset:hover{
    background: #b6b6b6;
}
.show{
    display: flex;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreContainer{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.score{
    padding: 5px;
    display: flex;
    width: 60px;
    justify-content: space-around;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  24px 24px 48px #666666,
             -24px -24px 48px #ffffff;
}
#playerX + #playerO{
    font-size: 20px;
}
.turnContainer{
    font-size: 1.5rem;
}
.turnContainer #turn{
    font-weight: bold;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    :root{
        --tile-size : 80px;
    }
    .gridContainer{
        width: 340px;
    }
    .tile{
        font-size: 1.5rem;
    }
  }