*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tile-size : 150px;
}
.gameContainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tile{
    width: var(--tile-size);
    height: var(--tile-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.gridContainer{
    margin-top: 50px;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}